body {
    font-family: Arial;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #ff4757;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #ff6b81;
}

.stats {
    margin: 20px;
}

#log {
    margin-top: 20px;
    font-weight: bold;
}
